In [138]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [140]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [142]:
cols = ['Name','Ticket','Cabin']
df = df.drop(cols,axis=1)

KeyError: "['Name' 'Ticket' 'Cabin'] not found in axis"

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [144]:
df.dropna()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
6,7,0,1,male,54.0,0,0,51.8625,S
7,8,0,3,male,2.0,3,1,21.0750,S
8,9,1,3,female,27.0,0,2,11.1333,S
9,10,1,2,female,14.0,1,0,30.0708,C
10,11,1,3,female,4.0,1,1,16.7000,S
11,12,1,1,female,58.0,0,0,26.5500,S
12,13,0,3,male,20.0,0,0,8.0500,S
13,14,0,3,male,39.0,1,5,31.2750,S
14,15,0,3,female,14.0,0,0,7.8542,S
15,16,1,2,female,55.0,0,0,16.0000,S
16,17,0,3,male,2.0,4,1,29.1250,Q
18,19,0,3,female,31.0,1,0,18.0000,S
20,21,0,2,male,35.0,0,0,26.0000,S
21,22,1,2,male,34.0,0,0,13.0000,S
22,23,1,3,female,15.0,0,0,8.0292,Q
23,24,1,1,male,28.0,0,0,35.5000,S
24,25,0,3,female,8.0,3,1,21.0750,S
25,26,1,3,female,38.0,1,5,31.3875,S
27,28,0,1,male,19.0,3,2,263.0000,S
30,31,0,1,male,40.0,0,0,27.7208,C
33,34,0,2,male,66.0,0,0,10.5000,S
34,35,0,1,male,28.0,1,0,82.1708,C
35,36,0,1,male,42.0,1,0,52.0000,S
37,38,0,3,male,21.0,0,0,8.0500,S
38,39,0,3,female,18.0,2,0,18.0000,S
...,...,...,...,...,...,...,...,...,...
856,857,1,1,female,45.0,1,1,164.8667,S
857,858,1,1,male,51.0,0,0,26.5500,S
858,859,1,3,female,24.0,0,3,19.2583,C
860,861,0,3,male,41.0,2,0,14.1083,S
861,862,0,2,male,21.0,1,0,11.5000,S
862,863,1,1,female,48.0,0,0,25.9292,S
864,865,0,2,male,24.0,0,0,13.0000,S
865,866,1,2,female,42.0,0,0,13.0000,S
866,867,1,2,female,27.0,1,0,13.8583,C
867,868,0,1,male,31.0,0,0,50.4958,S
869,870,1,3,male,4.0,1,1,11.1333,S
870,871,0,3,male,26.0,0,0,7.8958,S
871,872,1,1,female,47.0,1,1,52.5542,S
872,873,0,1,male,33.0,0,0,5.0000,S
873,874,0,3,male,47.0,0,0,9.0000,S
874,875,1,2,female,28.0,1,0,24.0000,C
875,876,1,3,female,15.0,0,0,7.2250,C
876,877,0,3,male,20.0,0,0,9.8458,S
877,878,0,3,male,19.0,0,0,7.8958,S
879,880,1,1,female,56.0,0,1,83.1583,C
880,881,1,2,female,25.0,0,1,26.0000,S
881,882,0,3,male,33.0,0,0,7.8958,S
882,883,0,3,female,22.0,0,0,10.5167,S
883,884,0,2,male,28.0,0,0,10.5000,S
884,885,0,3,male,25.0,0,0,7.0500,S
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [145]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
     dummies.append(pd.get_dummies(df[col]))

In [146]:
titanic_dummies = pd.concat(dummies, axis=1)

In [147]:
df = pd.concat((df,titanic_dummies),axis=1)

In [148]:
df = df.drop(['Pclass','Sex','Embarked'],axis=1)

In [149]:
df.tail()

,PassengerId,Survived,Age,SibSp,Parch,Fare,1,2,3,female,male,C,Q,S
886,887,0,27.0,0,0,13.00,0,1,0,0,1,0,0,1
887,888,1,19.0,0,0,30.00,1,0,0,1,0,0,0,1
888,889,0,NaN,1,2,23.45,0,0,1,1,0,0,0,1
889,890,1,26.0,0,0,30.00,1,0,0,0,1,1,0,0
890,891,0,32.0,0,0,7.75,0,0,1,0,1,0,1,0

In [150]:
df['Age'] = df['Age'].interpolate()

In [151]:
X = df.values
y = df['Survived'].values

In [152]:
X = np.delete(X,1,axis=1)

In [153]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [154]:
X.shape

(891, 13)

In [155]:
from sklearn import ensemble

In [156]:
clf = ensemble.GradientBoostingClassifier(n_estimators=50)
clf.fit (X_train, y_train)
clf.score (X_test, y_test)

0.832089552238806